*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #140216;
    font-family: "Roboto", sans-serif;
}

/* -------------- nav --------------- */

nav{
    display: flex;
    justify-content: space-around;
    white-space: nowrap; 
    border-bottom: solid 4px #7037CD;
}

nav h1{
    color: #fff;
    padding: 30px;
}

.social-media img{
    filter: invert();
    margin-top: 22px;
    padding: 5px;
    cursor: pointer;
}

.dropbtn {
    filter: invert();
    padding: 12px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #68B2F8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}

/* --------------- main --------------- */
main {
    color: #fff;
}

.ola{
    width: 241px;
    height: 28px;
    margin: 300px 198px;
}

.ola button{
    width: 257px;
    height: 50px;
    background-color: #7037CD;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
}

.sobre-mim{
    text-align: center;
    width: 402px;
    height: 169px;
    margin: 400px auto;
}